.app {
  user-select: none;
}

.cardModulo {
  margin-top: 1rem!important;
}

.navbar a {
  color: #fff
}

.navbar a:hover {
  color: #ddd
}

.inputUppercase {
  text-transform: uppercase;
}

.pedidoFarmacia-header {
  background-color: #b3bb9c;
}

.pedidoFarmacia-footer {
  background-color: #f5fbe4;
}

.card-body-box-sizing {
  box-sizing: border-box;
}

.moduloCssPar {
  background-color: #defff3;
}

@media screen and (max-width: 400px) {
  .textTable {
    font-size: 0.6em;
  }
}